[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
inertia-django = "*"
django-vite = "*"
whitenoise = "*"
django-extensions = "*"
django-debug-toolbar = "*"
requests = "*"
psycopg2 = "*"
pillow = "*"
django-imagekit = "*"
stripe = "*"
autopep8 = "*"
django-js-routes = "*"

[dev-packages]

[requires]
python_version = "3.11"
